/*
	Scoreboard CSS
	By: Hamed Moghimi, Hamid Zarrabi-Zadeh
*/

/* ----------- Problem Colors -----------  */

.color-A {
  background-color: #4595ca !important;
  color: #fff;
}

.color-B {
  background-color: #75e2ad !important;
}

.color-C {
  background-color: #c3cac3 !important;
}

.color-D {
  background-color: #a6db62 !important;
}

.color-E {
  background-color: #41d9e9 !important;
}

.color-F {
  background-color: #e7dde7 !important;
}

.color-G {
  background-color: #ee95c7 !important;
  color: white;
}

.color-H {
  background-color: #e3db4b !important;
}

.color-I {
  background-color: #5eccee !important;
}

.color-J {
  background-color: #e0302f !important;
  color: white;
}

.color-K {
  background-color: #df5120 !important;
  color: white;
}

.color-L {
  background-color: #e39dc3 !important;
}

/* ----------- Rest of styles ----------- */
body {
  font-family: Arial;
  font-size: 15px;
  min-width: 900px;
}

#header {
  height: 150px;
}

#header > .logo-right {
  float: right;
  padding: 0 30px 0 70px;
  max-width: 100px;
}

#header > .logo-left {
  float: left;
  padding-left: 10px;
  margin-top: -10px;
  max-width: 200px;
}

#header > h1,
#header > h2,
#header > span {
  text-align: center;
  margin-right: 200px;
  margin-left: 200px;
}

#header > h1 {
  font-size: 24px;
  margin-top: 30px;
  margin-bottom: 0px;
}

#header > h2 {
  margin-top: 5px;
  margin-bottom: 40px;
  font-size: 20px;
}

#header > h2.announce {
  display: block;
  font-size: 18px;
  font-weight: normal;
  margin-top: 20px;
  margin-bottom: 0;
}

#footer {
  margin-top: 20px;
  width: 100%;
}

/* -------------- Table styles -------------- */

#scoreboard {
  margin: 5px auto;
  width: 100%;
  border: 2px solid #000;
  border-spacing: 0;
}

#scoreboard th {
  padding: 5px 0;
  border-bottom: 2px solid #000;
  border-right: 1px solid #aaa;
}

#scoreboard td {
  padding: 0;
  min-width: 30px;
  text-align: center;
  border-bottom: 1px solid #555;
  border-right: 1px solid #aaa;
}

#scoreboard td:last-child,
#scoreboard th:last-child {
  border-right: none;
}

td.team {
  font-size: 1.1em;
  text-align: left !important;
  padding: 3px 0 3px 15px !important;
}

#scoreboard tr:nth-child(even) {
  background-color: #f0f0f0;
}

#scoreboard > tfoot td {
  border-top: 2px solid #000;
}

#scoreboard td.yes {
  background-color: #8f8;
}

#scoreboard td.yes.first {
  background-color: #0d0;
}

#scoreboard td.no {
  background-color: #f88;
}

#scoreboard td.pending {
  background-color: #ff8 !important;
}

.muted {
  font-size: 0.8em;
  color: #555;
  display: block;
}

.text-center {
  display: block;
  text-align: center !important;
}

span.balloon {
  display: block !important;
  width: 27px !important;
  height: 40px !important;
  margin: 0 auto !important;
  text-align: center !important;
  line-height: 30px !important;
  background: url("../img/balloon.png") -1px -1px no-repeat;
}
